body {
    background-color: grey;
    color: rgba(0, 0, 0, 0.788);
}

#container {
    display: flex;
    padding: 5px;s
    margin-bottom: 5px;
}

 #container2 {
     display: flex;
     padding: 5px;
     margin-bottom: 15px;

}

#container3 {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
}

.tekstbox {
    background-color: lightyellow;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 3ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tekstbox a {
    color: black;
    background-color: #DFE2E8;
    width: 100%;
    text-decoration: none;
    text-align: left;
    padding: 6px;
    margin: 5px;

}
.tekstbox2 {
    background-color: lightyellow;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 3ch;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;