body {
    background-color: dimgrey;
    color: White;
}

.tekstbox {
    background-color: #669999;
    width: 50pc;
    height: 50px auto;
    padding: 5px;
    font-family: Arial, sans-serif;
    text-align: justify;
}

.fotobox {

        }
.tekstbox2 {
    background-color: #669999;
    width: 50pc;
    height: 50px auto;
    padding: 5px;
    font-family: Arial, sans-serif;
    text-align: justify;
}
 #container {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
        }
 #container1 {
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
        }
#container2 {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}